@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: "Ubuntu";
    font-weight: bold;
    src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: normal;
    src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Ubuntu";
    font-weight: medium;
    src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Medium.ttf") format("ttf");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  html,
  body {
    background-color: white;
    font-style: Ubuntu;
  }

  h1 {
    @apply text-4xl font-bold text-Marine_blue;
  }

  h2 {
    @apply text-xl font-bold text-Marine_blue;
  }

  h5 {
    @apply text-base font-medium text-Marine_blue;
  }

  p {
    @apply text-lg font-normal;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    @apply h-5 w-5 cursor-pointer border border-Light_gray rounded-md;
  }

  input[type="checkbox"]:checked {
    @apply bg-tick bg-Purplish_blue bg-no-repeat bg-center bg-contain  bg-blend-normal;
  }
}
@layer components {
  .link {
    @apply flex flex-row items-center gap-4;
  }

  .link.active span {
    @apply text-Marine_blue bg-Light_blue border-none;
  }

  .link span {
    @apply text-white border border-white px-3 py-1 font-bold text-lg rounded-[50%];
  }

  .link h4 {
    @apply text-Light_gray uppercase text-base;
  }

  .link h3 {
    @apply text-white uppercase font-medium tracking-wide;
  }

  .select-plan {
    @apply text-left rounded-lg p-4 border border-Light_gray w-full focus:border-Purplish_blue focus:bg-Alabaster cursor-pointer;
  }

  .add-ons {
    @apply border border-Light_gray rounded-lg w-full flex flex-row items-center justify-between p-6 cursor-pointer focus:border-Purplish_blue focus:bg-Alabaster;
  }
}
@tailwind utilities;
